name: Status Page CI
on:
  push:
    branches:
      - "master"
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: "master"
      - name: Generate status page
        uses: upptime/uptime-monitor@v1.30.5
        with:
          command: "site"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
